{% extends 'MyInventoryApp/base.html' %}
{% load static %}

                {% block content %}


                <ul class="col nav flex-column">
                    <div class="row">
                        <p><a class="btn btn-success" href="{{request.META.HTTP_REFERER|escape}}" >Back</a></p>
                    </div>  
                </ul>



                
                <div class="col-md-8">

                 <div class="card">
                    <div class="card-header">
                            <h2 class="card-title"> Bottle Details:</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">SKU: {{bottle.SKU}}</li>
                                <li class="list-group-item">Brand: {{bottle.brand}}</li>
                                <li class="list-group-item">Cost: {{bottle.cost}}</li>
                                <li class="list-group-item">Size: {{bottle.size}}</li>
                                <li class="list-group-item">Mouth Size: {{bottle.mouth_size}}</li>
                                <li class="list-group-item">Color: {{bottle.color}}</li>
                                <li class="list-group-item">Supplier:{{bottle.supplier}}</li>
                                <li class="list-group-item">Current Quantity: {{bottle.current_quantity}}</li>
                            </ul>

                               <form action="{% url 'delete_bottle' bottle.pk %}"  method="post">
                               
                               
                               
                                {% csrf_token %}
                                <a href="{% url 'delete_bottle' bottle.pk %}" ><button class="btn btn-success">Delete</button></a>
                            </form>
                        </div>
                    </div>
                </div>    
                {% endblock %}


